@page "/"

<h1>Hello, 參數資料綁定與轉譯樹之深入研究!</h1>

<div class="card">
    <div class="card-header">
        使用 .razor 檔案設計的 Razor 元件
    </div>
    <div class="card-body">
        <Counter currentCount="@counterNumber" />
    </div>
</div>

<div class="card">
    <div class="card-header">
        使用 C# 設計的 Razor 元件
    </div>
    <div class="card-body">
        <NewCounter @ref="NewCounter" currentCount="@counterNumber" />
    </div>
</div>

<div class="my-4">
    <button class="btn btn-primary" @onclick="Reset">重新設定</button>
    <button class="btn btn-primary mx-3" @onclick="ResetAsync">非同步重新設定</button>
</div>

@code{
    public int counterNumber { get; set; }
    public NewCounter NewCounter { get; set; }
    void Reset()
    {
        counterNumber = 100;
    }

    async Task ResetAsync()
    {
        Console.WriteLine(); Console.WriteLine();
        Console.WriteLine($"將計數器強制修正為 50");
        counterNumber = 50;
        NewCounter.EchoCurrentCount();
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        NewCounter.EchoCurrentCount();
        Console.WriteLine($"將計數器強制修正為 100");
        counterNumber = 100;
        NewCounter.EchoCurrentCount();
        //Console.WriteLine($"將計數器強制修正為 50");
        //counterNumber = 100;
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 100;
        NewCounter.EchoCurrentCount();
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 1;
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 2;
        //Console.WriteLine("StateHasChanged()");
        //StateHasChanged();
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 3;
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 4;
        Console.WriteLine("Launch Task.Delay(100)");
        await Task.Delay(100);
        counterNumber = 5;
    }
}