@using Syncfusion.Blazor.Grids;
@using Syncfusion.Blazor.Data;
@using Syncfusion.Blazor;

<div>
    <button class="btn btn-primary" @onclick="()=>OnClick(1)">Send A</button>
    <button class="btn btn-primary" @onclick="()=>OnClick(2)">Send B</button>
    <button class="btn btn-primary" @onclick="()=>OnClick(3)">Send C</button>
</div>
<div>
    <button class="btn btn-success" @onclick="()=>OnClassClick(1)">Send 1</button>
    <button class="btn btn-success" @onclick="()=>OnClassClick(2)">Send 2</button>
    <button class="btn btn-success" @onclick="()=>OnClassClick(3)">Send 3</button>
</div>
<div>
    <button class="btn btn-secondary" @onclick="()=>OnClassStringClick(1)">Send String 1</button>
    <button class="btn btn-secondary" @onclick="()=>OnClassStringClick(2)">Send String 2</button>
    <button class="btn btn-secondary" @onclick="()=>OnClassStringClick(3)">Send String 3</button>
</div>
<div>
    <Component CurrentTypeCondition="@CurrentTypeCondition" />
</div>
<SfGrid @ref="Grid" TValue="Order" AllowPaging="true">
    <SfDataManager Adaptor="Adaptors.CustomAdaptor">
        <CustomAdaptorComponent CurrentTypeCondition="@CurrentTypeCondition"
                                FilterClass="@FilterObject" />
    </SfDataManager>
    <GridPageSettings PageSize="12" />
    <GridColumns>
        <GridColumn Field=@nameof(Order.OrderID) HeaderText="Order ID" IsIdentity="true" IsPrimaryKey="true" TextAlign="TextAlign.Right" Width="120">
        </GridColumn>
        <GridColumn Field=@nameof(Order.CustomerID) HeaderText="Customer Name" Width="150"></GridColumn>
    </GridColumns>
</SfGrid>

@code{
    SfGrid<Order> Grid { get; set; }
    public static List<Order> Orders { get; set; }
    public string CurrentTypeCondition { get; set; }
    public FilterClass FilterObject { get; set; } = new FilterClass();

    async Task OnClick(int i)
    {
        Console.WriteLine();
        Console.WriteLine();
        if (i == 1)
        {
            CurrentTypeCondition = "A";
        }
        else if (i == 2)
        {
            CurrentTypeCondition = "B";
        }
        else if (i == 3)
        {
            CurrentTypeCondition = "C";
        }

        Console.WriteLine($"沒做任何事情" +
               $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");

        //Console.WriteLine($"Raise Task.Yield" +
        //    $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //await Task.Yield();

        //Console.WriteLine($"Raise StateHasChanged" +
        //        $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //StateHasChanged();

        Console.WriteLine($"Raise Grid.Refresh" +
            $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        Grid.Refresh();
    }

    async Task OnClassClick(int i)
    {
        Console.WriteLine();
        Console.WriteLine();

        FilterObject.Id = i;

        Console.WriteLine($"沒做任何事情" +
           $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");

        //Console.WriteLine($"Raise Task.Yield" +
        //    $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //await Task.Yield();

        //Console.WriteLine($"Raise StateHasChanged" +
        //        $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //StateHasChanged();

        Console.WriteLine($"Raise Grid.Refresh" +
            $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        Grid.Refresh();
    }

    async Task OnClassStringClick(int i)
    {
        Console.WriteLine();
        Console.WriteLine();

        //FilterObject.Id = i;
        FilterObject.Title = i.ToString();

        Console.WriteLine($"沒做任何事情" +
   $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");

        //Console.WriteLine($"Raise Task.Yield" +
        //    $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //await Task.Yield();

        //Console.WriteLine($"Raise StateHasChanged" +
        //        $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        //StateHasChanged();

        Console.WriteLine($"Raise Grid.Refresh" +
            $"(Thread:{System.Threading.Thread.CurrentThread.ManagedThreadId})");
        Grid.Refresh();
    }
}